body {
    margin: 0 0 0 0;
    font-size: 4vw;
    text-align: center;
    font-family: helvetica;
}
input {
    width: 70vw;
    height: 14vw;
    font-size: 8vw;
    outline: none;
}
h1 {
    font-size: 8vw;
}
#unrounded {
    color: lightgrey;
    margin: -5vw 17vw 0 0;
    display: block;
    text-align: right;
    height: .8vw;
}
#stacking {
    color: red;
    font-style: italic;
    display: block;
    margin-top: 5vw;
    width: 70vw;
    margin-left:auto;
    margin-right:auto;
    height: 5vw;
}
input[type=number] {
    text-align: center;
}
input[type=button] {
    background-color: lightgray;
    border: none;
}
input[type=button]:active {
    background-color: grey;
}
table input[type=button] {
    width: 100%;
    height: 100%;
}
#icr::placeholder, #isf::placeholder, #target::placeholder {
  color: red;
}
#dose {
    font-style:italic;
}
table, th, td {
  border: .2vw solid black;
  border-collapse: collapse;
  margin-bottom: 10vw;
}
table {
  width: 70%;
  margin-left:auto;
  margin-right:auto;
}
th, td {
  padding: 5px;
  white-space: pre;
}
@media (min-width: 1000px) {
    body {
        margin: 3vw;
        font-size: 1.5vw;
        text-align: right;
        width: 65vw;
    }
    input {
        width: 20vw;
        height: 4vw;
        font-size: 2vw;
    }
    h1 {
        font-size: 2.5vw;
    }
    #unrounded {
        margin: -2vw 1vw 0 0;
        display: block;
    }
    #stacking {
        margin: 2vw 0 0 0;
        height: 2.5vw;
        float: right;
    }
    table {
      float: right;
      text-align: left;
    }
}
