body {
    margin: 0 0 0 0;
    font-size: 3vw;
    text-align: center;
    font-family: monospace;
}
input {
    width: 70vw;
    height: 12vw;
    font-size: 6.5vw;
    outline: none;
    font-family: monospace;
}
h1 {
    font-size: 7vw;
}
#stacking {
    color: red;
    font-style: italic;
    display: none;
    margin-top: 5vw;
    width: 70vw;
    margin-left:auto;
    margin-right:auto;
    height: 5vw;
}
input[type=number] {
    text-align: center;
}
input[type=button] {
    background-color: lightgray;
    border: none;
}
input[type=button]:active {
    background-color: grey;
}
table input[type=button] {
    width: 100%;
    height: 100%;
    font-size: 4vw;
    background: none;
    color: red;
}
table input[type=button]:active {
    background: none;
    color: black;
}
#icr::placeholder, #isf::placeholder, #target::placeholder {
  color: red;
}
#dose {
    font-style: italic;
    text-align: center;
}
table, th, td {
  border: .2vw solid black;
  border-collapse: collapse;
  margin-bottom: 10vw;
}
table {
  width: 65%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
th, td {
  padding: 0.5vw;
  white-space: pre;
  font-size: 4vw;
}
@media (min-width: 1000px) {
    body {
        transform:scale(.4);
        margin: -60vw 0 -60vw 0;
    }

    /* body {
        margin: 3vw;
        font-size: 1.5vw;
        text-align: right;
        width: 65vw;
    }
    input {
        width: 20vw;
        height: 4vw;
        font-size: 2.3vw;
    }
    h1 {
        font-size: 2.5vw;
    }
    #stacking {
        margin: 1vw 0 0 0;
        height: 2.5vw;
        float: right;
    }
    table {
      float: right;
    }
    th, td {
      padding: 0.1vw;
      white-space: pre;
      font-size: 1.2vw;
    } */
}
